* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0 50px;
}
.Header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
}
.headerLink {
  width: 100px;
  height: 60px;
  background-color: inherit;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.activeLink {
  color: #33e22d;
  border-bottom: 1px solid #33e22d;
}
.currencySetting {
  position: absolute;
  top: 0;
  right: 30px;
  display: inline-block;
  width: 120px;
}
.currencySetting:hover .currencyList {
  display: block;
}
.currencyChoiserButton {
  width: 120px;
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.currencyList {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
}
.currencyList p {
  text-align: center;
  color: black;
  padding: 10px 0 10px 0;
  display: block;
  cursor: pointer;
  width: 120px;
  border: 1px solid;
}
.currencyList p:hover {
  background-color: grey;
}
.categoryPage {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.productList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}
.product {
  width: 454px;
  height: 600px;
}
.product:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.productImg {
  width: 454px;
  height: 500px;
  overflow: hidden;
}
.productInfo {
  font-size: 20px;
  padding: 10px;
}
