.ProductPage {
  display: flex;
  padding: 100px 10% 50px;
}
.productMiniPics {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
  gap: 5px;
  width: 100px;
  height: 100%;
}
.inActiveImage {
  width: 80px;
}
.inActiveImage:hover {
  outline: 2px solid #1d1f22;
}
.activeImage {
  width: 80px;
  outline: 2px solid #5ece7b;
}
.productPicture {
  width: 500px;
  height: 650px;
  padding: 5px 30px;
}
.ProductInfo {
  padding: 5px 30px;
}
.brand {
}
.productName {
}
.productPrice {
  padding-top: 15px;
  font-weight: 700;
  font-size: 20px;
}
.productPrice p {
  padding-bottom: 15px;
}
.addToCartButton {
}
.addToCartButton:hover {
}
.addToCartButton:active {
}
.addToCartButton:disabled {
}
.productDescription {
}
.attributeName {
  padding-top: 10px;
  font-weight: 700;
}
.textAttributeSelectButton {
  width: 60px;
  height: 45px;
  margin: 10px 10px 10px 0;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 200;
  background-color: #ffffff;
  cursor: pointer;
}
.textAttributeSelectButton:hover {
  background-color: #eeeeee;
}
.textAttributeSelectButton:active {
  background-color: #dddddd;
}
.activeTextAttributeSelectButton {
  width: 60px;
  height: 45px;
  margin: 10px 10px 10px 0;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 200;
  background-color: #1d1f22;
  color: #ffffff;
  cursor: pointer;
}
.swatchAttributeSelectButton {
  width: 30px;
  height: 30px;
  border: 0;
  margin: 10px 10px 10px 0;
  cursor: pointer;
}
.swatchAttributeSelectButton:hover {
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #1d1f22;
}

.activeSwatchAttributeSelectButton {
  width: 30px;
  height: 30px;
  border: 0;
  margin: 10px 10px 10px 0;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #5ece7b;
  cursor: pointer;
}
